<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css" />


	{{#if title }}
	<title>YXY - {{ title }}</title>
	{{else}}
	<title>YXY - Error</title>
	{{/if}}

	<!-- Compiled and minified CSS -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
		integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

	{{!-- For Bootstrap datepicker --}}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
		</script>
	<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

	{{!-- <link rel="shortcut icon" href="../../public/img/logoT.png" /> --}}
	<link rel="stylesheet" href="/css/userInterface/init.css" />
	<link rel="stylesheet" href="/css/userInterface/nav.css" />
	<script src="/js/useInterface/nav.js"></script>

	{{!--Google fonts Icon--}}

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />



	{{#if style }}
	{{#each style}}
	<link rel="stylesheet" href="/css/{{this}}" />
	{{/each}}
	{{/if}}


	{{!-- {% block cssJs %}{% endblock %} --}}

	{{!-- PWA --}}
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- ios support -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<meta name="apple-mobile-web-app-status-bar" content="#FFFFFF">

	<link rel="stylesheet" href="/css/user/shopping/elasticSearch.css">

	<!-- Main Quill library -->
	<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

	<!-- Theme included stylesheets -->
	<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
	{{!-- Checking - omitting nav and footer--}}
	{{#if (equal title "Register" )}}
	{{else if (equal title "Login")}}
	{{else}}
	{{> _navbar}}
	{{/if}}
	{{!-- Checking - omitting nav and footer--}}

	<article class="workContent">

		{{!-- {% block header %} {% endblock %} {% block content %} {% endblock %} --}}
		{{{body}}}
	</article>

	{{!-- Checking - omitting nav and footer--}}
	{{#if (equal title "Register" )}}
	{{else if (equal title "Login")}}
	{{else}}
	{{> _footer}}
	{{/if}}
	{{!-- Checking - omitting nav and footer--}}




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!--		<script src="/animation/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script> -->
	<!-- Compiled and minified JavaScript -->

	{{#if (equal title "My Account")}}
	{{else}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{{/if}}
	{{!-- For autocomplete address form --}}
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
		rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

	{{!-- PWA Service Worker--}}
	<script src="/js/app.js"></script>
	{{!-- Elasticsearch--}}
	<script src="/js/user/elasticSearch.js"></script>
</body>

</html>