<div class="container" style="padding-top: 5%; padding-bottom: 10%">
    <div class="row">
        <div class="col-xl-9 col-md-12 border rounded shadow-sm p-3"
            style="background-color: rgba(230, 231, 232, 0.24);">
            <div class="row">
                <div class="col-xl-5 col-md-12">
                    {{#each images}}
                    {{#if (equal @index 0)}}
                    <img class="border rounded shadow-sm imgSlides" src="{{this}}"
                        alt="{{hackingProduct.title}}" />
                    {{/if}}
                    <img class="border rounded shadow-sm imgSlides" style="display:none;" src="{{this}}"
                        alt="{{hackingProduct.title}}" />
                    {{/each}}
                    {{!-- <span>image carousel here if any</span> --}}
                    <div class="images_container m-2">
                        {{#each images}}
                        <img class="demo opacity hover-opacity-off" src="{{this}}"
                        style="width:100px;height:auto;cursor:pointer;margin-right:10px" onclick="currentImg({{@index}} + 2)">
                        {{/each}}
                    </div>
                </div>
                <div class="col-xl-7 col-md-12">
                    <div class="row pl-3">
                        <span class="itemName">
                            {{hackingProduct.title}}
                        </span>
                    </div>
                    <div class="row pl-3">
                        <span style="line-height: 2.4em;">Rating:&nbsp;</span>
                        <div class="reviewScore" style="height: 2.5em; width: 2.6em; line-height: 2.4em;">{{rating}}/5
                        </div>
                    </div>
                    <hr>
                    <div class="row pl-3">
                        <p>
                            {{hackingProduct.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 border rounded shadow-sm p-3"
            style="background-color: rgba(230, 231, 232, 0.24);">
            <span class="itemName">S${{hackingProduct.price}}</span>
            <button type="button" class="addToCartN btn-block">Add To Cart</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row pl-3">
                <span class="itemName">
                    Reviews
                </span>
            </div>
            <hr>
            {{#each comments}}
            <div class="row">
                <div class="col">
                    <div class="row pl-3">
                        <h5>{{this.name}}</h5>
                    </div>
                    <div class="row pl-3">
                        <span>Reviewed on {{this.date}}</span>
                    </div>
                    <div class="row pl-3">
                        <span style="line-height: 2em;">Rating:&nbsp;</span>
                        <div class="reviewScore">{{this.rating}}/5</div>
                    </div>
                    <br>
                    {{{this.content}}}
                </div>
            </div>
            <hr>
            {{/each}}
            <div class="row">
                <div class="col">
                    <div>
                        {{> flashMsg/flashmsg}}
                        <h5>How would you rate this product?</h5>
                    </div>
                    <div id="toolbar"></div>
                    <form action="/submit_review/{{ hackingProduct.id }}" method="post">
                        <input name="quillContent" type="hidden">
                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"
                            data-error="Please rate this product" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" value="4"
                            data-error="Please rate this product" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"
                            data-error="Please rate this product" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" value="2"
                            data-error="Please rate this product" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" value="1"
                            data-error="Please rate this product" />
                        <label class="star star-1" for="star-1"></label>
                        <div id="editor"></div>
                        <button class="addToCartN">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let quill = new Quill('#editor', {
        modules: {
            toolbar: [[{ 'color': ['black', 'red', 'blue', 'green'] }, 'bold', 'italic', 'underline', 'strike'],
            ['link', 'image', 'video']]
        },
        placeholder: 'Write a review here...',
        theme: 'snow',
    });

    let form = document.querySelector('form');
    form.onsubmit = () => {
        // Populate hidden form on submit
        let quillContent = document.querySelector('input[name=quillContent]');
        let content = quill.getContents();
        let text = quill.getText();

        quillContent.value = JSON.stringify({ content, text });

        console.log(quill.getText())
        console.log(quill.getContents())
    };

    function selectLocalFile(uploadType) {
        const input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.click();

        // Listen upload local image and save to server
        input.onchange = () => {
            const file = input.files[0];

            // file type is only image.
            if (/^image\//.test(file.type)) {
                console.log("image file detected!")
                console.log("image files = ", file);
                saveToServer(file, uploadType);
            }
            else if (/^video\//.test(file.type)) {
                console.log("video file detected!")
                console.log("video file = ", file);
                saveToServer(file, uploadType);
            }
            else {
                console.warn('You could only upload images.');
            }
        };
    }

    function saveToServer(file, uploadType) {
        const fd = new FormData();
        fd.append('image', file);

        fetch('/api/upload-file', { // Your POST endpoint
            method: 'POST',
            body: fd // This is your file object
        }).then(res => res.json()
        ).then(data => {
            console.log("res received", data.fileUrl);

            // push image url to rich editor.
            const range = quill.getSelection();
            console.log('url inserted');
            quill.insertEmbed(range.index, uploadType, data.fileUrl);
        })
    }

    // quill editor add image handler
    quill.getModule('toolbar').addHandler('image', () => {
        selectLocalFile('image');
    });

    quill.getModule('toolbar').addHandler('video', () => {
        selectLocalFile('video');
    });


    //Multiple Images
    function currentImg(n) {
        showImg(slideIndex = n);
    }

    function showImg(n) {
        var i;
        var x = document.getElementsByClassName("imgSlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace("opacity-off", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-2].className += "opacity-off";
    }
    //End
</script>