<script src="/js/useInterface/purchase.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<h3 class="shopFontTitle" style="text-align: center; font-size:2.5em;">Checkout</h3>
    {{>  flashMsg/simpleFlashMsg}}
<div class="outer-row">
    <div class="col-25">
        {{!-- Cart Accordion Container --}}
        <div class="containers accordion" id="cartAccordion">
            <div class="rownoreverse" id="headingCart">
                {{!-- Accordion Button --}}
                <button class="btn-accordion" type="button" data-toggle="collapse" data-target="#collapseCart" aria-expanded="true" aria-controls="collapseCart">
                <h4 class="classFontTitle">Cart
                    <span class="price" style="color: black;">
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                </h4>
                </button>
                <div class="collapse show" id="collapseCart" aria-labelledby="headingCart" data-parent="#cartAccordion">
                    <div class="cartItems">
                        {{#if cartItems}}
                            {{#each cartItems}}
                            <div class="cartItem" data-item-id="{{id}}" date-item-price="{{price}}">
                                <p class="cartItemName"><span class="cartItem-quantity">{{itemNum}}</span> x {{title}} <span class="price" style="float:right;">S${{ multiply price itemNum }}</span></p>
                            </div>
                            {{/each}}
                        {{else}}
                            <div class="cartItem">
                                <p>No Items</p>
                            </div>
                        {{/if}}
                    </div>
                    <hr>
                    <div class="cartTotal">
                        <p>Total Amount <span class="price" style="color: black"><b>S${{ sum }}</b></span></p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- End of Accordion --}}
    </div>

    <div class="col-75">
        <form method="POST" action="/payment/charge">
            {{!-- Accordion Wrapper --}}
            <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                {{!-- Accordion Card / Container --}}
                <div class="containers card">
                    {{!-- Card Header --}}
                    <div class="card-header" role="tab" id="headingTwo1">
                        <button type="button" class="btn-accordion" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
                            <h4 class="mb-0">Delivery Address <i class="fas fa-angle-down rotate-icon"></i></h4>
                        </button>
                    </div>

                    {{!-- Card Body --}}
                    <div id="collapseTwo1" class="collapse show" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                        <div class="card-body">
                            <div class="rownoreverse" style="margin-right: -15px; margin-left: -15px;">
                                <div class="form-group col-50">
                                    <label class="form-control-label" for="firstName">First Name</label>
                                    <input class="form-control" id="DeliveryFirstName" name="DeliveryFirstName" placeholder="John" required="" type="text" value="">
                                </div>
                                <div class="form-group col-50">
                                    <label class="form-control-label" for="lastName">Last Name</label>
                                    <input class="form-control" id="DeliveryLastName" name="DevlieryLastName" placeholder="Doe" required="" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input class="form-control" id="DeliveryEmail" name="DeliveryEmail" placeholder="johndoe@gmail.com" required="" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="address">Address</label>
                                <input class="form-control" id="DeliveryAddress" name="DeliveryAddress" placeholder="180 Ang Mo Kio Ave 8" required="" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="postal">Postal Code</label>
                                <input class="form-control" id="DeliveryPostal" name="DeliveryPostal" placeholder="569830" required="" type="text" value="">
                            </div>
                            <div class="">
                                <a class="next-btn collapsed" role="button" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21" aria-expanded="false">Next</a>
                                <button type="button" class="btn btn-primary" id="openAddress">Other Addresses</button>
                            </div>

                            {{!-- Address Overlay --}}
                            <div id="overlayAddress">
                                <a href="javascript:void(0)" class="closebtn" id="closeAddress">&times;</a>
                                <div id="overlay-content" class="container">
                                    {{#if AddressList}}
                                    {{!-- Accordion Card --}}
                                    <h3 class="shopFontTitle" style="padding-top: 20px;">Other Addresses</h3>
                                    {{#each AddressList}}
                                    <div class="card">
                                        <div class="accordion md-accordion" id="accordionAddress" role="tablist" aria-multiselectable="true">                                            
                                            {{!-- Card Header --}}
                                            <div class="card-header" role="tab" id="headingAddressOne{{@index}}">
                                                <button type="button" class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordionAddress" href="#collapseAddressOne{{@index}}" aria-expanded="false" aria-controls="collapseAddressOne{{@index}}" style="width:85%">
                                                    <h4 class="mb-0">{{address}}<i class="fas fa-angle-down rotate-icon"></i></h4>
                                                </button>
                                                <button type="button" class="btn" style="width: 15%; float: right;">Select</button>
                                            </div>

                                            {{!-- Card Body --}}
                                            <div id="collapseAddressOne{{@index}}" class="collapse" role="tabpanel" aria-labelledby="headingAddressOne{{@index}}" data-parent="#accordionAddress">
                                                <div class="card-body">
                                                    <table border="">
                                                        <thead>
                                                            <th>Name</th>
                                                            <th>Address</th>
                                                            <th>Country</th>
                                                            <th>City</th>
                                                            <th>State</th>
                                                            <th>Postal Code</th>
                                                            <th>Phone</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{ firstname }} {{ lastname }}</td>
                                                                <td>{{ address }}</td>
                                                                <td>{{ country }}</td>
                                                                <td>{{ city }}</td>
                                                                <td>{{ state }}</td>
                                                                <td>{{ postalcode }}</td>
                                                                <td>{{ mobile }}</td>
                                                                <td><a href="" class="btn btn-warning px-2 py-1 height-auto" style="">Edit</a></td>
                                                                <td>
                                                                    <input type="submit" value="Remove" formaction="" class="btn btn-danger px-2 py-1 height-auto" style="background-color:#dc3545;" onclick="return confirm('Are you sure you want to remove this item?');">

                                                                    {{!-- <form action="" method="POST">
                                                                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this book?');">
                                                                    </form> --}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {{!-- End of Card Body --}}
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{!-- End of Card Accordion --}}
                                    {{else}}
                                        <h3>No Other Addresses Recorded</h3>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- End of Overlay --}}
                        </div>
                    </div>
                    {{!-- End Of Body --}}
                </div>
                {{!-- End of Accordion Card --}}

                {{!-- Accordion Card --}}
                <div class="containers card">

                    {{!-- Card Header --}}
                    <div class="card-header" role="tab" id="headingTwo2">
                        <button type="button" class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21" aria-expanded="false" aria-controls="collapseTwo21">
                            <h4 class="mb-0">Delivery Time &amp; Date <i class="fas fa-angle-down rotate-icon"></i></h4>
                        </button>
                    </div>

                    {{!-- Card Body --}}
                    <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21" data-parent="#accordionEx1">
                        <div class="card-body">
                            <div class="form-group datepickerbtn">
                                <label class="form-control-label">Date</label>
                                <input id="datepicker" width="200" name="DeliveryDate" readonly/>
                            </div>
                            <div class="form-group" id="divDeliveryTime">
                                <label class="form-control-label" style="padding-left: 0;">Time</label>
                                
                                <div class="radioBtn">
                                    <input type="radio" id="0800" name="DeliveryTime" value="8.00AM - 10.00AM" checked>
                                    <label for="0800">8.00AM - 10.00AM</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="1000" name="DeliveryTime" value="10.00AM - 12.00PM">
                                    <label for="1000">10.00AM - 12.00PM</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="1200" name="DeliveryTime" value="12.00PM - 2.00PM">
                                    <label for="1200">12.00PM - 2.00PM</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="1400" name="DeliveryTime" value="2.00PM - 4.00PM">
                                    <label for="1400">2.00PM - 4.00PM</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="1600" name="DeliveryTime" value="4.00PM - 6.00PM">
                                    <label for="1600">4.00PM - 6.00PM</label>                                   
                                </div>
                            </div>
                            <a class="next-btn collapsed" role="button" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31" aria-expanded="false">Next</a>
                        </div>
                    </div>
                    {{!-- End of Card Body --}}
                </div>
                {{!-- End of Card Accordion --}}

                {{!-- Card Accordion --}}
                <div class="containers card">

                    {{!-- Card header --}}
                    <div class="card-header" role="tab" id="headingThree31">
                        <button type="button" class="btn-accordion collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31" aria-expanded="false" aria-controls="collapseThree31">
                            <h4 class="mb-0">Payment Method <i class="fas fa-angle-down rotate-icon"></i></h4>
                        </button>
                    </div>

                    {{!-- Card Body --}}
                    <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31" data-parent="#accordionEx1">
                        <div class="card-body">
                            {{!-- Paypal --}}
                            <div id="paypal-button-container"></div>
                            <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=SGD" data-sdk-integration-source="button-factory"></script>
                            <script>
                            paypal.Buttons({
                                style: {
                                    shape: 'rect',
                                    color: 'gold',
                                    layout: 'horizontal',
                                    tagline: false,
                                    
                                },
                                createOrder: function(data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            amount: {
                                                value: '1'
                                            }
                                        }]
                                    });
                                },
                                onApprove: function(data, actions) {
                                    return actions.order.capture().then(function(details) {
                                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                    });
                                }
                            }).render('#paypal-button-container');
                            </script>

                            {{!-- Stripe --}}
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{stripePublicKey}}"
                                data-amount="{{ multiply sum 100 }}"
                                {{!-- data-name="Web Development Ebook"
                                data-description="Ebook written by Brad Traversy"
                                data-image="" --}}
                                data-locale="SG">
                            </script>
                            <script>
                                // Hide default stripe button
                                document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                            </script>
                            <button type="submit" class="btn btn-outline-dark text-white btn-lg">Credit/Debit Card</button>

                        </div>
                    </div>
                    {{!-- End of Card Body --}}
                </div>
                {{!-- End of Card Accordion --}}
            </div>
            {{!-- End Of Accordion Wrapper --}}
        </form>
    </div>
</div>

<script>
		$('#datepicker').datepicker({
			format: 'dd/mm/yyyy',
			value: new Date().toLocaleDateString(),
			uiLibrary: 'bootstrap4',
			todayHighlight: true,
		});
</script>