<div class="border-bottom userDashboardHeader">
    <i class="fa fa-archive" aria-hidden="true"></i> My Orders
</div>

<!-- List Orders -->
{{#if orders}}
	{{#each orders}}
	<div class="cartItems ">
		<div class="cartItem container pt-3">
			<div class="row">
				<div class="col-2 " align="center">

					<i class="fa fa-file deliveryInfoLogo mt-1"></i>
				</div>
				<div class="col-10">
					<div class="row">
						<p id="deliveryInfoName">
							{{this.orderDescription}}
							
							<span id="deliveryInfoCell" class="ml-3 pt-0">{{this.deliveryDate}}, {{this.deliveryTime}}</span>
						</p>

					</div>
					<div class="row">
						<p id="deliveryInfoAddr">{{this.deliveryInfo.street}} Block {{this.deliveryInfo.blockNo}} {{this.deliveryInfo.unitNo}}, {{this.deliveryInfo.country}}
							{{this.deliveryInfo.state}}, {{this.deliveryInfo.country}} {{this.deliveryInfo.postcode}}</p>
					</div>
					{{!-- Order Status --}}
					<div class="row">
						<i class="far fa-edit mr-3 " type="button" data-toggle="modal" data-target="#exampleModalViewOrder"
							data-whatever="{{this.id}}"></i>
					</div>

					<div class="order-status">
						<p>Order Status</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	{{/each}}
	<!-- List Orders -->
{{else}}
<p id="no-order">No Orders Placed</p>
{{/if}}
<script src="/js/user/orderInfo.js"></script>