<div class="border-bottom userDashboardHeader">
    <i class="fa fa-archive" aria-hidden="true"></i> My Orders
</div>

<!-- List Orders -->
{{#if orders}}
	{{#each orders}}
	<div class="cartItems">
		<div class="cartItem container pt-3">
			<div class="row">
				<div class="col-2 " align="center">

					<i class="fas fa-box deliveryInfoLogo mt-1"></i>
				</div>
				<div class="col-10">
					<div class="row">
						<p id="deliveryInfoName">
							{{this.orderDescription}}
							
							<span id="deliveryInfoCell" class="ml-3 pt-0">{{this.deliveryDate}}, {{this.deliveryTime}}</span>
						</p>

					</div>
					<div class="row">
						<p id="deliveryInfoAddr">{{this.deliveryInfo.street}} Block {{this.deliveryInfo.blockNo}} {{this.deliveryInfo.unitNo}}, {{this.deliveryInfo.country}}
							{{this.deliveryInfo.state}}, {{this.deliveryInfo.country}} {{this.deliveryInfo.postcode}}</p>
					</div>
				</div>
			</div>

			<hr>
			{{!-- Order Status --}}
			<div class="row">								
				<div class="col-12">
					<p style="font-size: 1.2em;" class = "orderStatus" id = "orderStatus" data-orderStatus={{this.orderStatus}}>
						Order Status: 
						{{#if (equal this.orderStatus 1)}}
							Order Placed
						{{else if (equal this.orderStatus 2)}}
							Order on the way
						{{else if (equal this.orderStatus 3)}}
							Order has arrived
						{{else}}
							Order completed
						{{/if}}
						</p>
					<div class="row">
						<div class="col-12">
							<div class="track" id="track">
								<div class="step" id="{{@index}}orderStatus1"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
								<div class="step" id="{{@index}}orderStatus2"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
								<div class="step" id="{{@index}}orderStatus3"> <span class="icon"> <i class="fas fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-8">
							<p>Payment Method: {{#if this.chargeId}}Stripe Credit/Debit Card{{else}}Paypal{{/if}}</p>
							<p style="font-size: 1.2em;">Total Sum: ${{this.orderSum}}</p>
						</div>
						<div class="col-4">
							<div class="outer-row">
								<button type="button" class="viewItems" onclick="viewOrder('{{this.id}}')"><i class="fa fa-list-alt"></i> View Items</button>
							</div>
							<div class="outer-row">
								<button type="button" class="viewItems" onclick="location.href='/payment/invoice/{{this.id}}'">View Invoice</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	{{/each}}
{{else}}
<p id="no-order">No Orders Placed</p>
{{/if}}
<!-- List Orders -->

{{!-- Single Order --}}
<div id="overlayOrder">
	<a href="javascript:void(0)" class="closebtn" id="closeOrder">&times;</a>
	<div id="overlay-content" class="cartItem containerOrder pt-3">
		<div class="row">
			<div class="col-2" align="center">
				<i class="fas fa-box deliveryInfoLogo mt-1"></i>
			</div>
			<div class="col-10">
				<p id="deliveryInfoName">
					<span id="orderName"></span>
					<span id="orderDateTime" class="ml-3 pt-0"></span>
				</p>
			</div>
		</div>
		<ul class="row" id="orderList">
		</ul>
	</div>
</div>
{{!-- Single Order --}}

<script src="/js/user/orderInfo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script>
	$("#v-pills-profile-tab").on("click", function(){
		let elems = document.getElementsByClassName("orderStatus");
		for (let i = 0; i < elems.length; i++) {
			let statusId = parseInt(elems[i].attributes["data-orderStatus"]["value"])
			for (let id = 1; id < (statusId+1); id++) {
				document.getElementById(`${i}orderStatus${id}`).classList.add("active");
			}
		}

	})
</script>