<div class="border-bottom userDashboardHeader">
    <i class="fa fa-heart" aria-hidden="true"></i> Shopping Wishlist
</div>
{{#if wishlists}}
{{#each wishlists}}
<div class="cardo m-2">
    <div class="card-body">
        <a href="/product/{{hackingProduct.id}}" style="display:flex">
            <img src="{{imageUrl hackingProduct.imageFile 0}}" style="width:150px;height:150px;">
            <div style="margin-left:0.5cm;font-size:1.1rem;">
                <p class="card-title">{{hackingProduct.title}}</p>
                <p>${{hackingProduct.price}}</p>
            </div>
        </a>
        <div class="addToCart" style="float:right">
            <button type="button" class="btn btn-outline-primary addToCartN">Add to Cart</button>
            <a data-toggle="modal" href="#exampleModal{{id}}"><i class="far fa-trash-alt fa-md ml-3 mt-2"
                    data-toggle="tooltip" title="Remove from wishlist"></i></a>
        </div>
    </div>
</div>

<div class="modal" id="exampleModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{id}}">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Remove from wishlist?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/wishlist/delete/{{hackingProductId}}"><button type="button"
                        class="btn btn-danger">Remove</button></a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p id="no_wishlist">No wishlist found</p>
{{/if}}

<script src="/js/user/addToCartWishlist.js"></script>