<div class="border-bottom userDashboardHeader">
	<i class="fa fa-archive" aria-hidden="true"></i> My Orders
</div>

<!-- List Orders -->
{{#if orders}}
	<div class="cartItems">
	{{#each orders}}
		<div class="cartItem container pt-3" id="cartItem">
			<div class="row">
				<div class="col-2 " align="center">
					<i class="fas fa-box deliveryInfoLogo mt-1"></i>
				</div>
				<div class="col-10">
					<div class="row">
						<div class="col-6">
							<p class="orderDetail">
								Order Placed:
								<span class="orderDetail" id="orderDate"> {{formatDate this.orderDate 'DD MMM YYYY'}}</span>
							</p>
						</div>
						<div class="col-6">
							<p class="orderDetail orderSum">Total: S${{this.orderSum}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p class="orderDetail">
								Order Description:
								{{#if this.orderDescription}}
									<span class="orderDetail" id="orderDate"> {{this.orderDescription}}</span>
								{{else}}
									<span class="orderDetail" id="orderDate"> No Description</span>
								{{/if}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row card-header" role="tab" id="headingOne{{@index}}">
				<a class="collapsed" data-toggle="collapse" data-parent="#cartItem" href="#collapseOne{{@index}}" aria-expanded="true" aria-controls="collapseOne{{@index}}" style="width:100%">
					<h5 class="orderDetail">
					Ordered <i class="fas fa-angle-left"></i><span class="deliverDate">Delivered by {{formatDate this.deliveryDate 'DD MMM'}} {{this.deliveryTime}}</span>
					</h5>
				</a>
			</div>
			<div class="row collapse" id="collapseOne{{@index}}" role="tabpanel" aria-labelledby="headingOne{{@index}}" data-parent="#cartItems">
				<ul class="row orderContent">
					{{#each this.purchaseRecords}}
					<a class="aLink" href="/product/{{this.id}}">
						<figure class="itemside mb-3">
							<div class="aside col-3">
								<img src="{{imageUrl this.imageFile}}" class="img-sm border">
							</div>
							<figcaption class="col-6 info align-self-center">
								<p class="title">{{this.title}}
							</figcaption>
							<figcaption class="col-3 itemQty">
								Qty: {{this.itemNum}}</p> <span class="text-muted">${{this.price}} </span>
							</figcaption>
						</figure>
					</a>
					{{/each}}
				</ul>
			</div>
			<div class="row">
				<a href="/orderInfo/view/{{this.id}}" class="orderDetail viewOrder">View Order</a>
			</div>
		</div>
	{{/each}}
	</div>
{{else}}
<p id="no-order">No Orders Placed</p>
{{/if}}
<!-- List Orders -->

<script src="/js/user/orderInfo.js"></script>
